

/* Color setup */
:root {
    --primary: #cda45e;
    --black: rgba(0, 0, 0, 0.5);
    --white: #ffffff;
    --body: black;
}

/* propriétés globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Poppins", sans-serif , cursive;
}

span {
    color: var(--primary);
}

li  {
    list-style: none;
}

li a {
    text-decoration: none;
}


/* navbar */

#navbarr {
    background-color: var(--black);
    
}

#lien li a {
    color: var(--primary);
}

#entete {
    background-image: url("/images/about.jpg"); 
    height: 80hv;

}


/*  partie bienvenu */

#intro h1 {
    color: var(--white);
    font-size: 60px;
}

#intro span {
    color: var(--primary);
    font-size: 60px;
}


#intro h2 {
    color: var(--white);
}

.btn:hover {
    background-color:var(--gray-2)
}

#btn-intro {
    background : transparent;
    border: var(--primary) solid 2px;
    border-radius: 15px;
}

#btn-intro:hover {
    background-color: var(--primary);
}


/* Partie a propos  */

#about {

    height: 100hv;
    margin: 0 0 0 0;
}

#about img {
    border-radius: 6px;
    max-width: 100%;
    transition: transform 0.3s ease;   
}

#about img:hover {
    transform: scale(1.05);
}
#about div p {
    color: var(--body);
    text-align: justify;
}

#about h2 {

    color: var(--body);
    font-size: 50px;
    padding: 10px;
}

                                            /* Partie Menu */

#menus h2{
    font-size: 50px;
    padding: 10px;
}

.card ig {
    border-radius: 6px;
    max-width: 100%;
    transition: transform 0.4s ease;  
}

.card:hover {
    transform: scale(1.15);
}

.card-body {
    background-color: var(--primary);
}

#btn-plus {
    background : transparent;
    border: var(--body) solid 2px;
    border-radius: 15px;
}

#btn-plus:hover {
    background-color: var(--primary);
}


/* Partie reservation */

#reserv-section{
    height: 60hv;

}

#reserv-section h2 {

    font-size: 50px;
    padding: 10px;
}

#formulaire {
    border: var(--primary) solid 2px;
    border-radius: 10px;
}

#btn-reserver {
    background : transparent;
    border: var(--primary) solid 2px;
    border-radius: 15px;
}

#btn-reserver:hover {
    background-color: var(--primary);
}

                                    /* Partie footer  */

#final {

    background-color: var(--body);
    height: 60vh;
    
}

#final ul li  a {
    color: var(--primary);
    list-style: none;
}

.item h3 {
    color: var(--white);
}

.item p {
    color: var(--primary);
}


#galerie h2 {
    font-size: 50px;
    padding: 10px;
}

.carousel-inner {
    height: 80vh;
}
.logo {
    align-items: center;
    display: flex;
}

/* J'ai pas parvenu a gerer la responsivity avec seulement bootstrap
 raison pour laquelle je l'ai fait ici directement  */

@media  screen and (max-width : 320px) {
    #final {
        background-color: var(--body);
        height: 200vh;
        margin: 0;
    }
}